.dv_guide{
    width: 400px;
    grid-area: 2 / 1 / 3 / 3;
}

.tbl_player{
    grid-area: 1 / 1 / 2 / 2;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 900px;
    }